   <!-- Footer-->
<footer class="footer text-center">
 <div class="container">
                <div class="row">
                    <!-- Footer Location-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Dirección</h4>
                        <p class="lead mb-0">Av. Tecnológico S/N
                             <br />Fracc. Industrial Julián de Obregón
                                  León Guanajuato - C.P. 37290</p>
                    </div>
                    <!-- Footer Social Icons-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Redes sociales</h4>
                       <a class="btn btn-dark btn-social mx-2" 
                    href="https://www.facebook.com/LauraOrtizOlmos"><i class="fab fa-facebook-square"></i></a>
                     <a class="btn btn-dark btn-social mx-2" 
                    href="https://www.instagram.com/laura_ortiz__/"><i class="fab fa-instagram"></i>
                    <a class="btn btn-dark btn-social mx-2" 
                    href="mailto:laura.ortizolmos@gmail.com">
                           <i class="fas fa-envelope"></i></a>
                           <br></br>
                         <p class="lead mb-0">@LauraOrtiz</p> 
                    </div>
                    <!-- Footer About Text-->
                    <div class="col-lg-4">
                        <h4 class="text-uppercase mb-4">Formación</h4>
                        <p class="lead mb-0">Tecnológico Nacional de México/
                            Instituto Tecnológico de León </p>
                        <a href="https://www.itleon.edu.mx/">TecNM Campus León</a>
                    </div>
                </div>
            </div>
        </footer>
         <div class="copyright py-4 text-center text-white">
            <div class="container"><medium>Copyright © Programación web 2020</medium></div>
        </div>
        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
        <div class="scroll-to-top d-lg-none position-fixed">
            <a class="js-scroll-trigger d-block text-center text-white rounded" 
            href="#page-top"><i class="fa fa-chevron-up"></i></a>
        </div>           